#form-title {
  margin-bottom: 3.5rem;
  text-align: center;
}

#form-content {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(217, 217, 217, 0.5);
  padding: 1.5rem 2.5rem;
  max-width: 38rem;
}

#form-instructions {
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

#additional-info {
  margin-top: 2.5rem;
}
