.App {
  text-align: center;
  background-color: #E8EAF6;
  height: 100vh;
}

p {
  margin: 0;
  padding: 0;
}

.title {
  /*font-family: 'Roboto', sans-serif;*/
  padding-top: 67px;
  padding-bottom: 16px;
  font-size: 48px;
  font-weight: 300;
  font-style: italic;
}

.sign-up-card {
  margin: auto;
  width: 432px;
  height: 500px;
}

span {
  line-height: normal !important;
}

.card-title {
  background-color: #3F51B5;
}

.divider {
  border-color: rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  margin-bottom: 20px;
}
